@charset "UTF-8";
/* CSS Document */

*{
	margin: 0 auto;
}

body{
	
	width: 100%;
	font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
	font-weight: lighter;
	color: #4C4948;
	
	
}

#container{
	
	width: 80%;
	text-align: center;
	border: solid #4F4F4F ;
	border-radius: 5px;
	border-width: 2px;

}


header{
	 
	width: 50%;
	height: auto;
	padding-top: 2.5rem;
	padding-bottom: 1rem;
	
}

#mainvisual{
	
	width: 100%;
}

h1{
	margin-bottom: 3rem;
		
}

h2{
	margin-top: 3rem;
}

h4{
	padding-top: 0.5rem;
	padding-bottom: 3rem;
}

p{
	width: 75%;
	padding-top: 3rem;
	margin-bottom: 0.5rem;
	text-align: left;
	line-height: 2.5rem;
	font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
	font-weight: 100;
}

#text{
	font-size: 1.3rem;
	
}

img {
	width:50%;
	max-width: 100%;
	height: auto;
}

footer{
	padding-top: 10rem;
}

